<div class="jumbotron">
  <h1>NSI Stanze</h1>

  <p class="lead">
    Prenota prima di fare un meeting!
  </p>
</div>

<div class="row">
  <div class="row">
    <div class="col-md-3">
      <ul>
        <li ng-repeat="stanza in main.stanze">
          <a ng-href="#/stanza/{{stanza.Id}}">{{ stanza.Nome }}</a>
        </li>
      </ul>
    </div>
    <div class="col-md-9">
      <div ui-calendar="main.calendarConfig.calendar"
           ng-model="main.eventSources">
      </div>
    </div>
  </div>
</div>

<script type="text/ng-template" id="eventModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Prenota: {{modal.event.roomName}}</h3>
  </div>
  <div class="modal-body">
    <div>
      <form name="modal.eventForm" novalidate>
        <div class="form-group"
             ng-class="{ 'has-error': modal.eventForm.start.$dirty && modal.eventForm.start.$invalid }">
          <label>
            Inizio
          </label>

          <p class="input-group">
            <input type="text"
                   class="form-control"
                   uib-datepicker-popup
                   is-open="modal.startOpened"
                   name="start"
                   class="form-control"
                   ng-model="modal.createdEvent.start"
                   required/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="modal.startOpened = !modal.startOpened"><i
                  class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>

        </div>
        <div class="form-group"
             ng-class="{ 'has-error': modal.eventForm.end.$dirty && modal.eventForm.end.$invalid }">
          <label>
            Fine
          </label>

          <p class="input-group">
            <input type="text"
                   class="form-control"
                   uib-datepicker-popup
                   is-open="modal.endOpened"
                   name="end"
                   class="form-control"
                   ng-model="modal.createdEvent.end"
                   required/>
              <span class="input-group-btn">
                <button type="button" class="btn btn-default" ng-click="modal.endOpened = !modal.endOpened"><i
                  class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
        </div>
      </form>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
            type="button"
            ng-click="modal.$close(modal.createdEvent)"
            ng-disabled="modal.eventForm.$invalid">
      OK
    </button>
    <button class="btn btn-warning" type="button" ng-click="modal.$dismiss()">Cancel</button>
  </div>
</script>

<script type="text/ng-template" id="inviteModal.html">
  <div class="modal-header">
    <h3 class="modal-title">Crea inviti</h3>
  </div>
  <div class="modal-body">
    <div>
      <input type="text"
             placeholder="scrivi il nome della persona da invitare"
             ng-model="whatever"
             uib-typeahead="(utente.Nome + ' ' + utente.Cognome) for utente in modal.utenti | filter:$viewValue"
             typeahead-on-select="modal.invitati.push($item)"
             class="form-control">
    </div>
    <p>
      <ul>
        <li ng-repeat="invitato in modal.invitati">
          {{invitato.Nome}} {{invitato.Cognome}}
        </li>
      </ul>
    </p>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary"
            type="button"
            ng-click="modal.$close(modal.invitati)"
            ng-disabled="!modal.invitati.length">
      OK
    </button>
    <button class="btn btn-warning" type="button" ng-click="modal.$dismiss()">Cancel</button>
  </div>
</script>
